<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.gcky.remembermeds">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".RememberMedApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".RoutineCategoryActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".RoutineSelectionActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <receiver android:name=".receiver.ReminderReceiver"/>
        <receiver android:name=".receiver.RebootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.MedsStatusResetReceiver" />
        <receiver android:name=".receiver.MedsStatusResetAlarmReceiver"/>
        <receiver android:name=".receiver.MarkAsTakenReceiver"/>
        <service android:name=".ResetAlarmsJobService"
            android:label="Reset alarm service"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:name=".ResetMedsStatusJobService"
            android:label="Reset meds status service"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:name=".MarkAsTakenJobService"
            android:label="Mark as taken service"
            android:permission="android.permission.BIND_JOB_SERVICE">
        </service>
    </application>

</manifest>